data/*
plot/*
script/input_data/*
!script/input_data/radial_cii_ALMA-ALL.dat
!script/input_data/radial_psf_ALMA-ALL.dat
*.pdf
*.aux
*.log
*.toc
*.pdf
*.dvi
*.idx
*.out
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.DS_Store
*.gz
*.pyc
